In [3]:
import numpy as np
import torch
import pandas as pd

In [4]:
torch.__version__

'1.5.0'

In [7]:
df = pd.read_csv('Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv')

In [12]:
df.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [15]:
df.head(20)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD
5,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Some college or technical school,EDU,EDUCOTEC
6,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,College graduate,EDU,EDUCOGRAD
7,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Age (years),18 - 24,AGEYR,AGEYR1824
8,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Age (years),25 - 34,AGEYR,AGEYR2534
9,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Age (years),35 - 44,AGEYR,AGEYR3544
10,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Age (years),45 - 54,AGEYR,AGEYR4554
11,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Age (years),55 - 64,AGEYR,AGEYR5564
12,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Age (years),65 or older,AGEYR,AGEYR65PLUS
13,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Income,"Less than $15,000",INC,INCLESS15
14,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Income,"$15,000 - $24,999",INC,INC1525
15,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Income,"$25,000 - $34,999",INC,INC2535
16,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Income,"$35,000 - $49,999",INC,INC3550
17,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Income,"$50,000 - $74,999",INC,INC5075
18,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Income,"$75,000 or greater",INC,INC75PLUS
19,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Income,Data not reported,INC,INCNR

In [19]:
len(df)

53392

In [43]:
df2 = pd.read_csv('HousingData.csv')

In [44]:
df2.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [45]:
df2.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [23]:
df2['CRIM'].fillna(value=df2['CRIM'].mean(), inplace=True)

In [24]:
df2.isnull().sum()

CRIM        0
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [46]:
for i in df2.columns:
    df2[i].fillna(value=df2[i].mean(), inplace=True)

In [47]:
df2.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.200000,4.0900,1,296,15.3,396.90,4.980000,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.900000,4.9671,2,242,17.8,396.90,9.140000,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.100000,4.9671,2,242,17.8,392.83,4.030000,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.800000,6.0622,3,222,18.7,394.63,2.940000,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.200000,6.0622,3,222,18.7,396.90,12.715432,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.100000,2.4786,1,273,21.0,391.99,12.715432,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.700000,2.2875,1,273,21.0,396.90,9.080000,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.000000,2.1675,1,273,21.0,396.90,5.640000,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.300000,2.3889,1,273,21.0,393.45,6.480000,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,68.518519,2.5050,1,273,21.0,396.90,7.880000,11.9

In [52]:
df2['CRIM'][0]

0.00632

In [53]:
a = np.array(df2['CRIM'])

In [54]:
a

array([6.32000000e-03, 2.73100000e-02, 2.72900000e-02, 3.23700000e-02,
       6.90500000e-02, 2.98500000e-02, 8.82900000e-02, 1.44550000e-01,
       2.11240000e-01, 1.70040000e-01, 2.24890000e-01, 1.17470000e-01,
       9.37800000e-02, 6.29760000e-01, 6.37960000e-01, 6.27390000e-01,
       1.05393000e+00, 7.84200000e-01, 8.02710000e-01, 7.25800000e-01,
       1.25179000e+00, 8.52040000e-01, 1.23247000e+00, 9.88430000e-01,
       7.50260000e-01, 8.40540000e-01, 6.71910000e-01, 9.55770000e-01,
       7.72990000e-01, 1.00245000e+00, 1.13081000e+00, 1.35472000e+00,
       1.38799000e+00, 1.15172000e+00, 1.61282000e+00, 6.41700000e-02,
       9.74400000e-02, 8.01400000e-02, 1.75050000e-01, 2.76300000e-02,
       3.35900000e-02, 1.27440000e-01, 1.41500000e-01, 1.59360000e-01,
       1.22690000e-01, 1.71420000e-01, 1.88360000e-01, 2.29270000e-01,
       2.53870000e-01, 2.19770000e-01, 8.87300000e-02, 4.33700000e-02,
       5.36000000e-02, 3.61187397e+00, 1.36000000e-02, 1.31100000e-02,
       2.05500000e-02, 1.43200000e-02, 1.54450000e-01, 1.03280000e-01,
       1.49320000e-01, 1.71710000e-01, 1.10270000e-01, 1.26500000e-01,
       1.95100000e-02, 3.58400000e-02, 4.37900000e-02, 5.78900000e-02,
       1.35540000e-01, 1.28160000e-01, 8.82600000e-02, 1.58760000e-01,
       9.16400000e-02, 1.95390000e-01, 7.89600000e-02, 9.51200000e-02,
       1.01530000e-01, 8.70700000e-02, 5.64600000e-02, 8.38700000e-02,
       4.11300000e-02, 4.46200000e-02, 3.65900000e-02, 3.55100000e-02,
       5.05900000e-02, 5.73500000e-02, 5.18800000e-02, 7.15100000e-02,
       5.66000000e-02, 5.30200000e-02, 4.68400000e-02, 3.93200000e-02,
       4.20300000e-02, 2.87500000e-02, 4.29400000e-02, 1.22040000e-01,
       1.15040000e-01, 1.20830000e-01, 8.18700000e-02, 6.86000000e-02,
       1.48660000e-01, 1.14320000e-01, 2.28760000e-01, 2.11610000e-01,
       1.39600000e-01, 1.32620000e-01, 1.71200000e-01, 1.31170000e-01,
       1.28020000e-01, 2.63630000e-01, 1.07930000e-01, 1.00840000e-01,
       1.23290000e-01, 2.22120000e-01, 1.42310000e-01, 3.61187397e+00,
       1.31580000e-01, 1.50980000e-01, 1.30580000e-01, 1.44760000e-01,
       6.89900000e-02, 7.16500000e-02, 9.29900000e-02, 1.50380000e-01,
       9.84900000e-02, 1.69020000e-01, 3.87350000e-01, 2.59150000e-01,
       3.25430000e-01, 8.81250000e-01, 3.40060000e-01, 1.19294000e+00,
       5.90050000e-01, 3.29820000e-01, 9.76170000e-01, 5.57780000e-01,
       3.22640000e-01, 3.52330000e-01, 2.49800000e-01, 5.44520000e-01,
       2.90900000e-01, 1.62864000e+00, 3.32105000e+00, 4.09740000e+00,
       2.77974000e+00, 2.37934000e+00, 2.15505000e+00, 2.36862000e+00,
       2.33099000e+00, 2.73397000e+00, 1.65660000e+00, 1.49632000e+00,
       1.12658000e+00, 2.14918000e+00, 1.41385000e+00, 3.53501000e+00,
       2.44668000e+00, 1.22358000e+00, 1.34284000e+00, 1.42502000e+00,
       1.27346000e+00, 1.46336000e+00, 1.83377000e+00, 1.51902000e+00,
       2.24236000e+00, 2.92400000e+00, 2.01019000e+00, 1.80028000e+00,
       2.30040000e+00, 2.44953000e+00, 1.20742000e+00, 2.31390000e+00,
       1.39140000e-01, 9.17800000e-02, 8.44700000e-02, 6.66400000e-02,
       7.02200000e-02, 5.42500000e-02, 6.64200000e-02, 5.78000000e-02,
       6.58800000e-02, 6.88800000e-02, 9.10300000e-02, 3.61187397e+00,
       8.30800000e-02, 6.04700000e-02, 5.60200000e-02, 7.87500000e-02,
       1.25790000e-01, 8.37000000e-02, 9.06800000e-02, 3.61187397e+00,
       3.61187397e+00, 2.18700000e-02, 1.43900000e-02, 1.38100000e-02,
       3.61187397e+00, 4.66600000e-02, 3.76800000e-02, 3.15000000e-02,
       1.77800000e-02, 3.44500000e-02, 2.17700000e-02, 3.51000000e-02,
       2.00900000e-02, 1.36420000e-01, 2.29690000e-01, 2.51990000e-01,
       1.35870000e-01, 4.35710000e-01, 1.74460000e-01, 3.75780000e-01,
       2.17190000e-01, 1.40520000e-01, 2.89550000e-01, 1.98020000e-01,
       4.56000000e-02, 7.01300000e-02, 1.10690000e-01, 1.14250000e-01,
       3.58090000e-01, 4.07710000e-01, 6.23560000e-01, 6.14700000e-01,
       3.15330000e-01, 5.26930000e-01, 3.82140000e-01, 4.12380000e-01,
       2.98190000e-01, 3.61187397e+00, 5.37000000e-01, 4.62960000e-01,
       5.75290000e-01, 3.31470000e-01, 4.47910000e-01, 3.30450000e-01,
       3.61187397e+00, 5.11830000e-01, 8.24400000e-02, 9.25200000e-02,
       1.13290000e-01, 3.61187397e+00, 1.02900000e-01, 1.27570000e-01,
       2.06080000e-01, 1.91330000e-01, 3.39830000e-01, 1.96570000e-01,
       1.64390000e-01, 1.90730000e-01, 1.40300000e-01, 2.14090000e-01,
       8.22100000e-02, 3.68940000e-01, 4.81900000e-02, 3.54800000e-02,
       1.53800000e-02, 6.11540000e-01, 6.63510000e-01, 6.56650000e-01,
       5.40110000e-01, 5.34120000e-01, 3.61187397e+00, 8.25260000e-01,
       5.50070000e-01, 7.61620000e-01, 7.85700000e-01, 5.78340000e-01,
       5.40500000e-01, 9.06500000e-02, 2.99160000e-01, 1.62110000e-01,
       1.14600000e-01, 2.21880000e-01, 5.64400000e-02, 9.60400000e-02,
       1.04690000e-01, 6.12700000e-02, 7.97800000e-02, 2.10380000e-01,
       3.57800000e-02, 3.70500000e-02, 6.12900000e-02, 1.50100000e-02,
       9.06000000e-03, 1.09600000e-02, 1.96500000e-02, 3.87100000e-02,
       3.61187397e+00, 4.29700000e-02, 3.50200000e-02, 7.88600000e-02,
       3.61500000e-02, 8.26500000e-02, 8.19900000e-02, 1.29320000e-01,
       5.37200000e-02, 1.41030000e-01, 6.46600000e-02, 5.56100000e-02,
       4.41700000e-02, 3.53700000e-02, 3.61187397e+00, 1.00000000e-01,
       5.51500000e-02, 5.47900000e-02, 7.50300000e-02, 4.93200000e-02,
       4.92980000e-01, 3.49400000e-01, 2.63548000e+00, 7.90410000e-01,
       2.61690000e-01, 2.69380000e-01, 3.69200000e-01, 2.53560000e-01,
       3.18270000e-01, 2.45220000e-01, 4.02020000e-01, 4.75470000e-01,
       1.67600000e-01, 1.81590000e-01, 3.51140000e-01, 2.83920000e-01,
       3.41090000e-01, 1.91860000e-01, 3.03470000e-01, 2.41030000e-01,
       6.61700000e-02, 6.72400000e-02, 4.54400000e-02, 5.02300000e-02,
       3.46600000e-02, 5.08300000e-02, 3.73800000e-02, 3.96100000e-02,
       3.42700000e-02, 3.04100000e-02, 3.30600000e-02, 5.49700000e-02,
       6.15100000e-02, 1.30100000e-02, 2.49800000e-02, 2.54300000e-02,
       3.04900000e-02, 3.11300000e-02, 6.16200000e-02, 1.87000000e-02,
       1.50100000e-02, 2.89900000e-02, 6.21100000e-02, 7.95000000e-02,
       7.24400000e-02, 1.70900000e-02, 4.30100000e-02, 1.06590000e-01,
       8.98296000e+00, 3.84970000e+00, 5.20177000e+00, 4.26131000e+00,
       4.54192000e+00, 3.83684000e+00, 3.67822000e+00, 4.22239000e+00,
       3.47428000e+00, 4.55587000e+00, 3.69695000e+00, 1.35222000e+01,
       4.89822000e+00, 3.61187397e+00, 6.53876000e+00, 9.23230000e+00,
       8.26725000e+00, 1.11081000e+01, 1.84982000e+01, 1.96091000e+01,
       1.52880000e+01, 9.82349000e+00, 2.36482000e+01, 1.78667000e+01,
       8.89762000e+01, 1.58744000e+01, 9.18702000e+00, 7.99248000e+00,
       2.00849000e+01, 1.68118000e+01, 2.43938000e+01, 2.25971000e+01,
       1.43337000e+01, 8.15174000e+00, 6.96215000e+00, 5.29305000e+00,
       1.15779000e+01, 3.61187397e+00, 3.61187397e+00, 8.71675000e+00,
       5.87205000e+00, 7.67202000e+00, 3.83518000e+01, 9.91655000e+00,
       2.50461000e+01, 1.42362000e+01, 9.59571000e+00, 2.48017000e+01,
       4.15292000e+01, 6.79208000e+01, 2.07162000e+01, 1.19511000e+01,
       7.40389000e+00, 3.61187397e+00, 5.11358000e+01, 1.40507000e+01,
       1.88110000e+01, 2.86558000e+01, 4.57461000e+01, 1.80846000e+01,
       1.08342000e+01, 2.59406000e+01, 7.35341000e+01, 1.18123000e+01,
       1.10874000e+01, 7.02259000e+00, 1.20482000e+01, 7.05042000e+00,
       8.79212000e+00, 1.58603000e+01, 3.61187397e+00, 3.76619000e+01,
       7.36711000e+00, 9.33889000e+00, 3.61187397e+00, 1.00623000e+01,
       6.44405000e+00, 5.58107000e+00, 1.39134000e+01, 1.11604000e+01,
       1.44208000e+01, 1.51772000e+01, 1.36781000e+01, 9.39063000e+00,
       2.20511000e+01, 9.72418000e+00, 5.66637000e+00, 9.96654000e+00,
       1.28023000e+01, 1.06718000e+01, 6.28807000e+00, 9.92485000e+00,
       9.32909000e+00, 7.52601000e+00, 6.71772000e+00, 5.44114000e+00,
       5.09017000e+00, 8.24809000e+00, 9.51363000e+00, 4.75237000e+00,
       4.66883000e+00, 8.20058000e+00, 7.75223000e+00, 6.80117000e+00,
       3.61187397e+00, 3.69311000e+00, 6.65492000e+00, 5.82115000e+00,
       7.83932000e+00, 3.61187397e+00, 3.77498000e+00, 4.42228000e+00,
       1.55757000e+01, 1.30751000e+01, 4.34879000e+00, 4.03841000e+00,
       3.56868000e+00, 4.64689000e+00, 8.05579000e+00, 6.39312000e+00,
       4.87141000e+00, 1.50234000e+01, 1.02330000e+01, 1.43337000e+01,
       5.82401000e+00, 5.70818000e+00, 5.73116000e+00, 2.81838000e+00,
       2.37857000e+00, 3.67367000e+00, 5.69175000e+00, 4.83567000e+00,
       1.50860000e-01, 1.83370000e-01, 2.07460000e-01, 1.05740000e-01,
       1.11320000e-01, 1.73310000e-01, 2.79570000e-01, 1.78990000e-01,
       2.89600000e-01, 2.68380000e-01, 2.39120000e-01, 1.77830000e-01,
       2.24380000e-01, 6.26300000e-02, 4.52700000e-02, 6.07600000e-02,
       1.09590000e-01, 4.74100000e-02])

In [59]:
for i in df2.columns:
    print(i)

CRIM
ZN
INDUS
CHAS
NOX
RM
AGE
DIS
RAD
TAX
PTRATIO
B
LSTAT
MEDV

In [60]:
prueba = np.array(df2)

In [61]:
prueba

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 3.9690e+02, 4.9800e+00,
        2.4000e+01],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 3.9690e+02, 9.1400e+00,
        2.1600e+01],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 3.9283e+02, 4.0300e+00,
        3.4700e+01],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 5.6400e+00,
        2.3900e+01],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 3.9345e+02, 6.4800e+00,
        2.2000e+01],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 7.8800e+00,
        1.1900e+01]])

TypeError: '(slice(0, 2, None), slice(0, 2, None))' is an invalid key